In [10]:
import pandas as pd
import os
from tqdm import tqdm
import shutil

In [11]:
yang = pd.read_csv('./events.csv')
yang_id = yang[['id']].drop_duplicates()
yang_id.shape

(3420, 1)

In [13]:
yang['energy'].min()

29.3066

In [9]:
yang['energy'].max()

38.5562

In [3]:
yang_id.columns = ['ktc_kepler_id']

In [4]:
ours = pd.read_csv('../results/kepler_flare_drop.csv')
inner = pd.merge(ours, yang_id, on=['ktc_kepler_id'])
inner.shape

(27985, 7)

In [5]:
res = pd.concat([ours, inner, inner]).drop_duplicates(keep=False)
res.shape

(2300, 7)

In [6]:
res['ktc_kepler_id'].drop_duplicates().shape

(454,)

In [7]:
res.to_csv('ours_sub_yang.csv', index=False)

In [16]:
ours_id.rename({'ktc_kepler_id': 'id'}, axis=1, inplace=True)

In [18]:
ours_inner = pd.merge(inner, ours_id, on=['id'])
ours_inner.shape

(71082, 6)

In [19]:
diff = pd.concat([inner, ours_inner, ours_inner]).drop_duplicates(keep=False)
diff.shape

(4324, 6)

In [20]:
diff.head()

,id,quarter,file,start,end,energy
9127,5342558,Q10,kplr005342558-2011271113734_llc.fits,907.0304,907.1735,32.2109
9128,5342558,Q10,kplr005342558-2011271113734_llc.fits,914.5706,914.6319,31.3389
9129,5342558,Q10,kplr005342558-2011271113734_llc.fits,915.8784,915.9805,32.1717
9130,5342558,Q10,kplr005342558-2011271113734_llc.fits,917.1248,917.2270,31.7491
9131,5342558,Q10,kplr005342558-2011271113734_llc.fits,919.2704,919.4543,32.4778

In [ ]:
diff.to_csv('events_sub_ours.csv', index=False)

In [5]:
hebut = pd.read_csv('hebut_lightcurves.txt', header=None)
hebut.columns = ['fits']
hebut.shape

(931001, 1)

In [6]:
target = pd.read_csv('fits_kepler_lamostdr9v11_llc_star.txt', header=None)
target.columns = ['fits']
target.shape

(1282142, 1)

In [13]:
maxwell = pd.read_csv('maxwell.txt', header=None)
maxwell.columns = ['fits']
maxwell.shape

(1381013, 1)

In [29]:
tmp = pd.concat([target, hebut, hebut]).drop_duplicates(keep=False)
tmp.shape

(448379, 1)

In [30]:
tmp.to_csv('copy.csv', index=False)

In [28]:
# tmp = tmp['fits'].tolist()
root = 'D:/kepler_lc/'
dst = 'D:/tmp/'
for file in tqdm(tmp):
    path = '/'.join(file.split('/')[:-1])
    os.makedirs(os.path.join(dst, path), exist_ok=True)
    shutil.copy(os.path.join(root, file), os.path.join(dst, file))

  3%|â–Ž         | 14603/448379 [02:22<1:10:38, 102.34it/s]

KeyboardInterrupt:

In [27]:
df.to_csv('kepler_lightcurves.txt', index=False, header=False)

In [18]:
pd.merge(df, total).shape

(544675, 1)

In [2]:
hubut = pd.read_csv('hebut_lightcurves.txt', header=None)
hubut.columns = ['fits']
kepler = pd.read_csv('kepler_lightcurves.txt', header=None)
kepler.columns = ['fits']

In [3]:
df = pd.merge(hubut, kepler)
df.shape

(836001, 1)